body {
    background-color: gray;
}
#header {
    font-family: Courier;
    cursor: default;
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
#instructions {
    font-family: Verdana;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    background-color: #6699CC;
    border-radius: 5px;
    
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
hr {
    color: black;
    border: 1px solid;
}
#buttons_container {
    background-color: black;
    color: white;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-color: white;
    text-align: right;
    border-radius: 5px;
    
    margin-left: auto;
    margin-right: auto;
    width: 700px;    
}
#stats {
    font-family: Courier;
    font-size: 12.4px;
    float: left;
    display: inline-block;
    padding: 5px;
    cursor: default;
}
.button {
    cursor: pointer;
    border-style: solid;
    padding: 5px;
    border-width: 1px;
    border-radius: 5px;
}
#pause_button {
    display: inline-block;
}
#restart_button {
    float: right;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
#restart_text {
    font-family: Courier;
}
#playing_field {
    border-style: solid;
    border-color: white;
    background-color: black;
    border-radius: 5px;
}